body {
    padding: 0;
    margin: 0;
    height: 100vh;

    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #1a1b30;

    
}

button {
    
    height: 10rem;
    width: 10rem;
    font-size: 80%;
    border: none;
    border-radius: 15px;

    
    
}

.circle {
    height: 6em;
    filter: invert(67%) sepia(36%) saturate(845%) hue-rotate(332deg) brightness(99%) contrast(93%);
}

.cross {
    height: 95%;
    filter: invert(55%) sepia(91%) saturate(4081%) hue-rotate(300deg) brightness(97%) contrast(97%);



    

}

.board {
    display: flex;
    flex-direction: column;
    
}

.board div {
    display: flex;
}


.board, .board div {
    gap: 7px;
}

button:hover {
    background-color: #6efffa;
    
}

button, button:active {
    background-color: #42f5ef;
}