button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;

    display: grid;
    
    align-items: center;
    background-color: #1a1b30;
    grid-auto-flow: column;
    gap: 1rem;
    

    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}


legend {
    text-align: center;
}

.playerDisplay, .roundDisplay, #playerInstruction {
    font-size: 2rem;
    color: yellow;
    text-align: center;
}

.topSection {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.bottomSection {
    grid-column: 2 / 3;
    grid-row: -1 / -2;

    display: flex;
    justify-content: space-around;
}


.row button {    
    height: 7rem;
    width: 7rem;
    
    border: none;
    border-radius: 15px;
}

#circle {
    height: 3rem;
    filter: invert(67%) sepia(36%) saturate(845%) hue-rotate(332deg) brightness(99%) contrast(93%);
}

#cross {
    height: 6rem;
    filter: invert(55%) sepia(91%) saturate(4081%) hue-rotate(300deg) brightness(97%) contrast(97%);
}

form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
   
}

.board {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3 ;
    grid-row: 2 / 3;
    justify-self: center;    
}

.board div {
    display: flex;
}


.board, .board div {
    gap: .5rem;
}

.row button:enabled:hover {
    background-color: #6efffa;
    
}

.row button, .row button:active {
    background-color: #42f5ef;
}