button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;

    display: grid;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a1b30;
    grid-auto-flow: column;
    

    grid-template-rows: .5fr .5fr 3fr 1fr;
    grid-template-columns: repeat(3, 1fr);

    font-size: 1.2rem;
}




.playerDisplay, .roundDisplay, #playerInstruction {
    font-size: 2em;
    color: yellow;
    text-align: center;
}

#p1, #p2, .roundDisplay, #playerInstruction {
    grid-column: 2 / 3;
}

#p1 {
    grid-row: -1 / -2;
    justify-self: start;
}

#p2 {
    
    grid-row: -1 / -2;
    justify-self: end;
    
}

.roundDisplay {
    
    grid-row: 1 / 2;
    
}

#playerInstruction {
    
    grid-row: 2 / 3;
}

.row button {
    
    height: 10rem;
    width: 10rem;
    font-size: 80%;
    border: none;
    border-radius: 15px;

    
    
}

#circle {
    height: 6em;
    filter: invert(67%) sepia(36%) saturate(845%) hue-rotate(332deg) brightness(99%) contrast(93%);
}

#cross {
    height: 95%;
    filter: invert(55%) sepia(91%) saturate(4081%) hue-rotate(300deg) brightness(97%) contrast(97%);
}

form {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: white;
   
}

.board {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3 ;
    grid-row: 3 / -1;
    justify-self: center;
    
    

    
}

.board div {
    display: flex;
}


.board, .board div {
    gap: 7px;
}

.row button:enabled:hover {
    background-color: #6efffa;
    
}

.row button, .row button:active {
    background-color: #42f5ef;
}