button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;

    display: grid;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a1b30;
    grid-auto-flow: column;

    grid-template-rows: .5fr .5fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;

    font-size: 20px; /* */
    
    
}

.playerDisplay, .roundDisplay, #playerInstruction {
    font-size: 2em;
    color: yellow;
    justify-self: center;
}

#p1 {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

#p2 {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
}

.roundDisplay {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

#playerInstruction {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.row button {
    
    height: 10rem;
    width: 10rem;
    font-size: 80%;
    border: none;
    border-radius: 15px;

    
    
}

#circle {
    height: 6em;
    filter: invert(67%) sepia(36%) saturate(845%) hue-rotate(332deg) brightness(99%) contrast(93%);
}

#cross {
    height: 95%;
    filter: invert(55%) sepia(91%) saturate(4081%) hue-rotate(300deg) brightness(97%) contrast(97%);



    

}

.board {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3 ;
    grid-row: 3 / -1;
    justify-self: center;
    
}

.board div {
    display: flex;
}


.board, .board div {
    gap: 7px;
}

.row button:enabled:hover {
    background-color: #6efffa;
    
}

.row button, .row button:active {
    background-color: #42f5ef;
}